<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WASSPRO_WS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings />
  <connectionStrings>
    <add name="CAPNUOC_TNTEntities" connectionString="metadata=res://*/dbTNT.csdl|res://*/dbTNT.ssdl|res://*/dbTNT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=113.161.211.45;initial catalog=CAPNUOC_TNT;user id=wasspro;password=wasspro@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CAPNUOC_LDGEntities" connectionString="metadata=res://*/dbLawaco.csdl|res://*/dbLawaco.ssdl|res://*/dbLawaco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=113.165.94.52;initial catalog=CAPNUOC_LDG;user id=lawaco;password=lawaco@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <WASSPRO_WS.Properties.Settings>
      <setting name="WASSPRO_WS_Lawaco_Bussiness_BusinessService" serializeAs="String">
        <value>https://lamdongwacoservicedemo.vnpt-invoice.com.vn/BusinessService.asmx</value>
      </setting>
      <setting name="WASSPRO_WS_Lawaco_Publish_PublishService" serializeAs="String">
        <value>https://lamdongwacoservicedemo.vnpt-invoice.com.vn/PublishService.asmx</value>
      </setting>
    </WASSPRO_WS.Properties.Settings>
  </applicationSettings>
</configuration>